*{
    font-family:sans-serif;
    box-sizing: border-box;
    transition: .2s ease;
    position: relative;
    margin: 0;
}
body{
    white-space: nowrap;
    overflow-x: hidden;
    margin: 10px 50px;
}
input{
    border: 1px solid rgba(0, 0, 0, 0.639);
    padding: 8px 120px 8px 40px;
    border-radius: 20px;
}
button{
    background: greenyellow;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
}
p{
    opacity: 60%;
}
form::before{
    background: url("./assets/icons8-user-96.png") no-repeat center/contain;
    position: absolute;
    height: 22px;
    width: 22px;
    content:"";
    z-index: 1;
    left: 4%;
    top: 6px;
}
.signup,.tow{
    align-items: center;
    display: flex;
}
.foot1 ,.foot2,.foot3{
    border-bottom: 1px solid black;
    justify-content: space-between;
    padding: 30px 0px;
    display: flex;
}